@tailwind base;
@tailwind utilities;

@font-face {
    font-family: ProductSans;
    src: url("../src/assets/ProductSans-Regular.ttf") ;
}

@theme{
    --font-productSans: ProductSans, "sans-serif";
}